{% extends "base.html" %}

{% block content %}
<h1>About page!</h1>
<p>This is a template - About page.</p>

<p>
{{ my_text }}, {{ my_num }}, {{ my_list }}
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul>
{% for my_sub_item in my_list %}
    {% if my_sub_item == 6969 %}
        <li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
    {% elif my_sub_item == "abc" %}
        <li>This is not the network.</li>
    {% else %}
        <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
        {% endif %}
{% endfor %}
</ul>


{% endblock %}

